.index-table-panel
  .row.align-items-center
    .col
      %h2 Users
    .col.text-right
      = link_to 'New User', new_user_path, class: 'btn btn-primary btn-sm'
  = render 'index_table', model: User, records: @users