- if current_user
  .font-weight-bolder Welcome #{current_user.full_name}.
  %span You can start to 
  %span= link_to 'management goods storage.', ''

  %p.mt-3
    Not you?
    %span= link_to 'Click here to logout', logout_path, method: :delete
- else
  .font-weight-bolder Welcome to Goods Storage Management Facility.
  %span Please 
  %span= link_to 'Log in', login_path 
  %span before management the goods storage.
