body.app
  background-color: $gray-100
  .container
    display: flex
    flex-flow: column
    min-height: 100vh
    max-width: none
    .row
      &.header
        flex: 0 1 auto
        z-index: 5
      &.content
        flex: 1 1 auto
      &.footer
        flex: 0 1 40px

  .index-table-panel
    background-color: $white
    border-radius: 10px
    padding: $spacer

  .action-panel
    background-color: $white
    border-radius: 10px
    padding: $spacer
    margin: 0 auto
    max-width: 800px
    width: 100%
    .text
      margin-top: 20px
      margin-left: 20px
    &.user-panel
      .sub-title
        font-weight: 400
        font-size: 2rem
      .name
        font-weight: 450
        font-size: 2.3rem
        margin-left: $spacer * 2
      .text-danger
        font-size: 1.2rem
      .attr-name
        font-size: 16px
        font-weight: 350
      .attr-content
        font-size: 16px
        font-weight: 250
        word-wrap: break-word
